h11 {
  color: red;
}

.panel-heading {
  font-size: 150%;
}

.corpo {
  text-shadow: #1b1b1bea 1px 1px 1px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3) 100%
    ),
    url("/img/empresa.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

p {
  margin: 15px;
}

.botao {
  text-shadow: #9e9b9b 1px 1px 1px;
  border: none;
  color: white;
  border-radius: 7%;

  padding: 8px 22px;
  font-size: 15px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: rgba(219, 219, 219, 0.918);
}

header .container,
.main,
.apresentacao,
.curriculo,
.footer {
  display: flex;
  align-items: center;
  text-align: center;
}

header,
.apresentacao h2 p,
.curriculo h2 p,
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 100%);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

header nav a {
  margin: 3px;
}

.main {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}

.apresentacao,
.curriculo {
  flex-direction: column;
  width: 50%;
}

.apresentacao img {
  width: 100%;
  border-radius: 10%;
}

.footer {
  justify-content: center;
  font-size: 10px;
}
