<div class="corpo"> 
<header>
    <div class="container">
        <h1><a href='/'>JobsNET</a></h1>
        <nav class="menu">
            <a href="#">Inicio</a>
            <a href="#">Saiba Mais</a>
            <a href="/cadastro">Cadastre-se</a>
        </nav>
    </div>
</header>

<main class="main">
    <div class="apresentacao">
        <img src="/img/reunião.jpg" alt="Foto de Apresentação">
        <h2>Junte-se a nós!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quidem facilis totam eius numquam, incidunt aliquam! At fugiat architecto officia.</p>
    </div>

    <div class="curriculo">
    <h2>Vamos cadastrar seu Currículo</h2>
    <p>Venha fazer parte do banco de currículo da JobsNet</p>

    <button class="botao" type="submit" ><a href="cadastro">Vamos lá!</a></button>

    </div>
</main>

<footer>
    <div class="footer">
        <p>&copy; 2021 Developed by <strong>Monara Calado</strong></p>
    </div>
</footer>

</div>